body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #97c3d1;
    color: #fff;
    padding: 10px;
        /*Aplicamos el display flex*/
        display: flex;
        justify-content: space-between;
        align-items: center;
  }
  
  p { 
    margin: 2px;  
    font-family: Caveat; 
    font-size: 1.5em;
  }


  .menu a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    /*0 px de arriba y de izquierda y derecha de 10 px*/
    padding: 0 10px;
    transition: 0.4s;
}

.show-menu,
.hide-menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

/* Otras de las opciones que nos da el flex box es que podemos poner un orden */
.show-menu {
    order: 1;
}

.menu a:hover,
.show-menu a:hover,
.hide-menu a:hover {
    color: #FDFEFE;
}

  nav ul {
    list-style: none;   /*убираем маркеры списка*/
    padding: 0;
    margin: 0;  /*убираем верхнее и нижнее поле, равное 1em*/
    display: flex;
    align-items: center;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;    /*убираем подчеркивание текста ссылок*/
  }
  
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  main {
    background-color: #e4e3e3;
    padding: 20px;
    text-align: center;
  }
  
  footer {
    background-color: #97c3d1;
    color: #fff;
    padding: 10px;
    margin-right: 20px;
    text-align: center;
   }

  form input,
  form button {
    margin: 5px;
  }



/* Responsive */
@media(max-width:768px) {
  nav ul li {
    display: block;
    margin: 10px 0;
  }

  /* HEADER */
  .show-menu,
  .hide-menu {
      display: block;
  }

  .menu {
      position: fixed;  
      width: 100%;
      /* height: 100vh;       */
      height: 10vh;
      background: #AED6F1;
      right: -100%;
      top: 0;
      text-align: center;
      /* Arriba y abajo 100 px y 0 izquierda y derecha */
      /* padding: 50px 0px; */
      /* Para que si agregemos otros elemento no se pisen agregamos un z-index */
      z-index: 100;
      transition: 0.8s;
      /* opacity: 0.9; */
  }

  .menu a {
      /* Мы заставляем их стоять в колонне */
      display: block;
      /* Чтоб немного разошлись */
      padding: 10px;
  }

  .hide-menu {
      position: absolute;
      top: 30px;
      right: 40px;
  }

}